<h1>Welcome back to the Comedy Connection</h1>
<h3>Comedian Login:</h3>

<%if @failed_login%>
<h3>There was a problem with your login.</h3>
<h3>Please double check your username and password.</h3>
<br></br>
<%end%>

<form method="POST" action="/comedians/login">
    
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br></br>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br></br>

    <input type="submit">
</form>

<a href="/">Back to Front Page</a>