<h1>Welcome back to the Comedy Connection..</h1>
<h3>Log in below:</h3>
<br></br>

<form method="POST" action="/comedians/login">
    
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br></br>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br></br>
    <br></br>
    
    <input type="submit">
</form>