<h1>We're glad to have you joining CC.</h1>
<h3>For now, please just give us your name.</h3>
<h3>You can add more information later!</h3>
<br></br>

<form method="POST" action="/fans/signup">
    
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br></br>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br></br>
    <br></br>
    
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br></br>

    <input type="submit">
</form>

<br></br>

<a href="/">Back to Front Page</a>