<p>Welcome to</p>
<h1>Comedy Connection</h1>

<br></br>

<h2>Comedians</h2>
<a href="/comedians/login">Log In</a>
<a href="/comedians/signup">Sign Up</a>
<br></br>

<h2>Fans</h2>
<a href="/fans/login">Log In</a>
<a href="/fans/signup">Sign Up</a>
<br></br>